$geist-foreground: #000;
$geist-success-lighter: #d3e5ff;
$geist-success-light: #3291ff;
$geist-success: #0070f3;
$geist-success-dark: #0761d1;
$geist-error-lighter: #f7d4d6;
$geist-error-light: #ff1a1a;
$geist-error: #e00;
$geist-error-dark: #c50000;
$geist-warning-lighter: #ffefcf;
$geist-warning-light: #f7b955;
$geist-warning: #f5a623;
$geist-warning-dark: #ab570a;
$geist-violet-lighter: #d8ccf1;
$geist-violet-light: #8a63d2;
$geist-violet: #7928ca;
$geist-violet-dark: #4c2889;
$geist-violet-background: #fff;
$geist-violet-background-secondary: #291c3a;
$geist-violet-background-tertiary: #eae5f4;
$geist-background-rgb: 255,
  255,
  255;
$geist-foreground-rgb: 0,
  0,
  0;
$geist-console-header: #efe7ed;
$geist-console-purple: #7928ca;
$geist-console-text-color-default: var($geist-foreground);
$geist-console-text-color-blue: #0070f3;
$geist-console-text-color-pink: #eb367f;
$geist-console-text-color-purple: #7928ca;
$geist-cyan-lighter: #aaffec;
$geist-cyan-light: #79ffe1;
$geist-cyan: #50e3c2;
$geist-cyan-dark: #29bc9b;
$geist-highlight-purple: #f81ce5;
$geist-highlight-magenta: #eb367f;
$geist-highlight-pink: #ff0080;
$geist-highlight-yellow: #fff500;
$geist-background: #fff;
$geist-selection: var($geist-cyan-light);
$geist-selection-text-color: var($geist-foreground);
$accents-1: #fafafa;
$accents-2: #eaeaea;
$accents-3: #999;
$accents-4: #888;
$accents-5: #666;
$accents-6: #444;
$accents-7: #333;
$accents-8: #111;
$geist-link-color: var($geist-success);
$geist-marketing-gray: #fafbfc;
$geist-code: var($geist-foreground);