@use 'colors';

.nav-container {
  padding: 20px;
  nav {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--accents-5);
    .wrapper-logo {
      margin-right: 20px;
      svg {
        margin: 0 20px;
      }
    }
    ul {
      list-style: none;

      li {
        float: left;
        margin-left: 20px;
        a {
          text-decoration: none;
          font-size: 14px;
          border-radius: 2px;
          font-family: sans-serif;
          color: var(--accents-5);
        }
      }
    }
  }
}